.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	@media (max-width: 767px) {
		margin-bottom: 30px;
	}

	&__wrap {
		position: relative;
		display: flex;
		justify-content: center;
	}

	& svg {
		fill: $color_white;
		max-width: 100%;
		height: auto;
	}

	&__newyear {
		position: absolute;
		left: -23%;
		top: -78%;
		display: none;
		width: 43%;
		height: auto;
	}
}